{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container-fluid" style="color:white">
  <h3>About Us</h3>
</div>

<div class="container-fluid" style="color:white">
  <h4>Social Media Blurb</h4>

<p style="text-align:justify;border-radius:10px;background:grey;padding:8px">
The mobile web app <a href="http://whatismyfish.net">WhatIsMyFish.net</a> has been awarded 3rd place in the semi-final round of <a href="http://eriehack.io">Eriehack.io</a> : a first of its kind regional, eco focused engineering challenge. Users of <a href="http://whatismyfish.net">WhatIsMyFish.net</a> snap photos of the fish they just caught and the app tags the species of the fish, returns the relevant fishing regulations for their location and warns them if they’ve caught an invasive species. The machine learning algorithms used continuously improve as more anglers use the app and submit data. Importantly, data collected is made freely available to marine researches to help control fish populations and improve the ecosystem of our fresh water resources.
</p>
</div>

<div class="container-fluid" style="color:white">
  <h4>Press Release</h4>

<p style="text-align:justify;border-radius:10px;background:grey;padding:8px">
For decades, our Lake Erie’s ecosystems have been thrown out of balance as invasive fish outcompete native fish for food, eat native fish eggs, and uproot plants utilized by other animals for food or shelter.  Despite the Department of Natural Resources’ (DNR) efforts, lakes threaten to be overfished by those oblivious or non-compliant with size and count limits.

Our great lakes- a vital component of our communities’ long term economic survival- are threatened.

Fish.io.ai has set out to solve these problems through WhatIsMyFish.net, a free to use mobile web application that empowers users to save our lake.  With the click of a mobile camera and the power of deep learning, users are told what fish they caught, whether it is invasive or not, and are presented the fishing regulations for the area they are fishing.

Every photo educates fishermen on whether a specific fish should be returned to the lake and the DNR fishing rules for specific species.  Invasive species will be identified and removed.  Further, young fish not ready for harvest will be returned to the water and given the opportunity to reproduce, ensuring the long-term sustainability of the species.

Experts can contribute to the accuracy of the deep learning model by viewing uploaded images and either confirming or making corrections to species predictions using our user interface. If a new species is caught, our app will quickly alert the DNR.

When individuals utilize the application, what fish was caught, where it was caught, and when it was caught is stored to curate a dataset like none other.  This new data will empower researchers to ask and answer questions pertaining to fish species populations and activity based on location, weather conditions, time of day/year, and other questions beyond our imaginations.  The application will provide meaningful contributions to short and long term research endeavors for generations.

Fish.io.ai is comprised of 4 Data Scientists/IT professionals passionate about data, machine learning, and achieving large scale societal impact.  We are enthusiastic about bringing deep learning to the great outdoors to solve our community's greatest problems. Will you join us?
</p>
</div>
{% endblock %}
