{% extends "base.html" %}

{% block title %}Download Fish Pic Data{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  console.log($('#download-cache-all'))
  $(document).on('click', '#download-cache-all', function() {
  console.log('Data download clicked')
  });
</script>
{% endblock %}

{% block content %}
<br>

<div class="container-fluid">
  <center>
  <div class="btn btn-default" id="download-cache-all" onclick="location.href = '/download_cache_all.csv';">
    <center><h4>Download Fish Pic Data</h4></center>
  </div>
  </center>
</div>

<br>

<div class="container-fluid" style="color:white">
    <div class="row-fluid">
    <div class="col-xs-4">
      <img class="img-responsive" src="/cdn_fish_pic/1" alt="User Submitted Fish Photo">
    </div>
    <div class="col-xs-8">
      <p>Fish Pic Info:</p>
      <ul>
        <li>Prediction: <t> Carp</li>
        <li>Probability: <t> 0.96</li>
        <li>Location: <t> Lake Erie, Cleveland</li>
        <li>Expert Labels: <t> [('Carp', 1)]</li>
      </ul>
    </div>
    </div>
</div>

<br>

<div class="container-fluid" style="color:white">
    <div class="row-fluid">
    <div class="col-xs-4">
      <img class="img-responsive" src="/cdn_fish_pic/2" alt="User Submitted Fish Photo">
    </div>
    <div class="col-xs-8">
      <p>Fish Pic Info:</p>
      <ul>
        <li>Prediction: <t> Walleye</li>
        <li>Probability: <t> 0.85</li>
        <li>Location: <t> Lake Erie, Detroit</li>
        <li>Expert Labels: <t> [('Carp', 0.9), ('Walleye', 0.1)]</li>
      </ul>
    </div>
    </div>
</div>

<div class="container-fluid" style="color:white">
    <div class="row-fluid">
    <div class="col-xs-4">
      <img class="img-responsive" src="/cdn_fish_pic/3" alt="User Submitted Fish Photo">
    </div>
    <div class="col-xs-8">
      <p>Fish Pic Info:</p>
      <ul>
        <li>Prediction: <t> Yellow Perch</li>
        <li>Probability: <t> 0.85</li>
        <li>Location: <t> Lake Erie, Detroit</li>
        <li>Expert Labels: <t> [('Yellow Perch', 0.9), ('Walleye', 0.1)]</li>
      </ul>
    </div>
    </div>
</div>

{% endblock %}
