{% extends "base.html" %}

{% block title %}fishr{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="span-12">
    <img class="img-responsive center-block" src="{{ url_for('static', filename='images/header.png') }}" alt="Beautiful Lake Erie"
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail text-center">
      <a href="{{ url_for('upload') }}">
        <img class="img-responsive icon" src="{{ url_for('static', filename='images/FishTakingPhotoSmall.png') }}" alt="Take a Photo">
        <div class="caption">
            <p>ID your catch!</p>
        </div>
      </a>
    </div>

  </div>

  <div class="col-xs-6">
    <div class="thumbnail text-center">
      <a href="{{ url_for('regulations') }}">
        <img class="img-responsive icon" src="{{ url_for('static', filename='images/Guidelines2Small.png') }}" alt="Take a Photo">
        <div class="caption">
            <p>Local Regulations</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
{% endblock %}
