{% extends "base.html" %}

{% block title %}fishr{% endblock %}

<head>
  {{mymap.js}}
</head>

<body>
  {{mymap.html}}
</body>

{% block content %}
<div class="row">
  <div class="col-sm-6">
<div class="container-fluid">
  <a href="{{ url_for('upload') }}">
    <p>What fish did I just catch?</p>
    <img class="img-responsive" src="{{ url_for('static', filename='images/FishTakingPhotoPIC.png') }}" alt="Take a Photo">
  </a>
</div>
  </div>

  <div class="col-sm-6">
<div class="container-fluid">
  <a href="{{ url_for('regulations') }}">
    <p>Fishing regulations near me?</p>
    <img class="img-responsive" src="{{ url_for('static', filename='images/Guidelines2PIC.png') }}" alt="Take a Photo">
  </a>
</div>
  </div>
</div>
{% endblock %}
