{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container-fluid" style="color:white">
  <h3>About Us</h3>
</div>

<div class="container-fluid" style="color:white">
  <h4>Terms of Service</h4>

  <ul>
    <li>The volunteer creators of this site make no gurantees on quality or results. They retain no legal liability for the site or content in any form! All code for this site is MIT licensed.</li>
    <li>Do not only rely on legal info in app. It's meant as a reference and not a legal guide. We make no gurantees on accuracy. But we'll try to keep the info and features on the site working.</li>
    <li>The images and meta data uploaded to this site are meant to be shared with the fish research community. You still own all rights to your images. But we retain the rights to re-distribute them for academic or other Creative Commons uses.</li>
    <li>Any unlawful content or content that is otherwise desired for removal will be removed with an email. Put "DMCA" in the subject line: <a href="mailto:whatismyfish.net">whatismyfish.net</a></li>
  </ul>

</div>

{% endblock %}
