{% extends "base.html" %}

{% block title %}Fishing Regulations{% endblock %}

{% block content %}
<div class="container-fluid" style="color:white">
  <h2>Your location indicates: Ohio, Lake Erie</h2>
</div>

<div class="container-fluid" style="color:white">
  <!-- Regulations Source: view-source:http://wildlife.ohiodnr.gov/fishingregulations -->
  <!-- TODO: scrape this info in a scalable and maintainable way -->

  <p>Regulations apply to Lake Erie proper and areas immediately upstream in creeks, rivers, and tributaries. The following regulations for walleye (and sauger and saugeye), yellow perch, black bass (largemouth, smallmouth, and spotted), and white bass apply to the waters of Lake Erie, its embayments including Maumee Bay, Sandusky Bay, East Harbor, Middle Harbor, and West Harbor, and from where Lake Erie tributaries enter the lake upstream to the following end points:</p>
  <li><b>Arcola, Wheeler, Cowles, and Indian creeks:</b> U.S. Route 20 bridges;</li>
  <li><b>Ashtabula River:</b> E. 24th Street bridge;</li>
  <li><b>Black River:</b> State Route 611 bridge;</li>
  <li><b>Conneaut Creek:</b> Main Street bridge (downtown to Conneaut);</li>
  <li><b>Euclid Creek and Chagrin River:</b> State Route 283 bridges;</li>
  <li><b>Rocky River:</b> Detroit Road bridge;</li>
  <li><b>Sandusky River:</b> Ballville Dam;</li>
  <li><b>Maumee River:</b> First dam upstream (Grand Rapids, Ohio);</li>
  <li><b>Vermilion River:</b> State Route 2 bridge;</li>
  <li><b>Grand River:</b> State Route 535 bridge;</li>
  <li><b>Cuyahoga River: </b>Harvard Road bridge.</li>
  <br /><br />

  <h3>Walleye and Yellow Perch Have Changed Beginning May 1, 2017</h3>
  <p>Updated limits will be announced through a <a href="/stay-informed/news-announcements">news release</a>, and a publication with updated limits for walleye and yellow perch will be available at wildlife district offices and license outlets beginning in April.</p>
  <br /><br />

  <h3>All statewide regulations apply to Ohio waters of Lake Erie EXCEPT for those listed below:</h3>
  <table>
    <thead>
      <tr>
        <th>Species</th>
        <th colspan="2">Date</th>
        <th>Daily Limit</th>
        <th colspan="2">Min. Size</th>
      </tr>
    </thead>


    <tbody>
      <tr>

      </tr><tr>
        <td align="left" rowspan="3"><b>Largemouth, Smallmouth, <br />&amp; Spotted Bass</b></td>
        <td align="left">March 1 - April 30, 2017<br /></td>
        <td align="left" colspan="3">5 (singly or in combination)<br /></td>
        <td align="left" colspan="3">14 inches<br /></td>
      </tr><tr><td align="left">May 1 - June 23, 2017<br /></td>
        <td align="left" colspan="3"><b>Possession is prohibited</b></td>
        <td align="left" colspan="3">None<br /></td></tr>
        <tr><td align="left">June 24, 2017 - Feb. 28, 2018<br /></td>
          <td align="left" colspan="3">5 (singly or in combination)</td>
          <td align="left" colspan="3">14 inches<br /></td></tr>


        <tr><td align="left" rowspan="3"><b>Walleye, Sauger, <br />&amp; Saugeye</b></td>
          <td align="left">Jan. 1 - Feb. 28, 2017<br /></td>
          <td align="left" colspan="3">6 (singly or in combination)<br /></td>
          <td align="left" rowspan="3">15 inches<br /></td>
        </tr><tr><td align="left">March 1 - April 30, 2017<br /></td>
          <td align="left" colspan="3">4 (singly or in combination)</td></tr>
          <tr><td align="left">May 1, 2017 - Feb. 28, 2018<br /></td>
            <td align="left" colspan="3">To be announced</td></tr>

          <tr>
            <td align="left"><b>White Bass</b></td>
            <td align="left" colspan="2">Open year-round</td>
            <td align="left" colspan="2">None</td>
            <td align="left" colspan="2">None</td>
          </tr>

          <tr>
            <td align="left" rowspan="2"><b>Yellow Perch</b></td>
            <td align="left">March 1 - April 30, 2017<br /></td>
            <td align="left" colspan="3">West Zone, 30<br />Central Zone, 30<br />East Zone, 30<br /></td>
            <td align="left" rowspan="2">None<br /></td>
          </tr><tr><td align="left">May 1, 2017 - Feb. 28, 2018<br /></td>
            <td align="left" colspan="3">To be announced</td></tr>


    </tbody></table>
  <br /> <br />
  <h3>Lake Erie Regulations for Trout and Salmon</h3>
  <p>Lake Erie proper and the entire length of Lake Erie Creeks, Rivers, and Tributaries</p>

  <table class="striped responsive" style="text-align: left;">
    <thead>
      <tr>
        <th>Species</th>
        <th colspan="2">Date</th>
        <th>Daily Limit</th>
        <th colspan="2">Min. Size</th>
      </tr>
    </thead>

    <tbody><tr>
      <td align="left" rowspan="2"><b>Trout &amp; Salmon</b></td>
      <td align="left">May 16 - Aug. 31, 2017<br /></td>
      <td align="left" colspan="3">5 (singly or in combination)<br /></td>
      <td align="left" rowspan="2">12 inches<br /></td>
    </tr><tr><td align="left">Sept. 1, 2016 - May 15, 2017<br />Sept. 1, 2017 - May 15, 2018<br /></td>
      <td align="left" colspan="3">2 (singly or in combination)</td></tr>
    </tbody></table><br /> <br />

    <h3>Exception to Above Regulations for Trout and Salmon</h3>
    <p>For the waters of Cold Creek upstream of State Route 2 (Erie County).
      <br /><b>This regulation no longer applies to Beaver Creek in Seneca County.</b></p><table class="striped responsive" style="text-align: left;">
        <thead>
          <tr>
            <th>Species</th>
            <th colspan="2">Daily Limit</th>
            <th colspan="2">Min. Size</th>
          </tr>
        </thead>

        <tbody><tr><td><b>Trout &amp; Salmon</b></td>
          <td align="left" colspan="2">5 (singly or in combination)</td>
          <td align="left" colspan="2">None</td>
        </tr></tbody></table>

</div>
<div class="container-fluid"
  <img class="img-responsive" src="{{ url_for('static', filename='images/Guidelines2PIC.png') }}" alt="Fishing Regulations">
</div>

{{ super() }}
{% endblock %}
