table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #e1e3ef}

th {
    background-color: #2347c6;
    color: white;
}

#bold { font-weight: bold }